### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm
/Example/.DS_Store
/Example/BDKManagerExampleApp/.DS_Store
/Example/BDKManagerExampleApp/Assets.xcassets/.DS_Store
/Example/BDKManagerExampleApp.xcodeproj/project.pbxproj
/Example/BDKManagerExampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Example/BDKManagerExampleApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

## Package ##
Package.resolved
